/* UNIVERSALES - GENERALES */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* primer punto de corte entre 640px y 1280px */
.body {
    display: grid;
    align-content: center;
    text-align: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 100px repeat(6, 1fr);
    color: black
}

header,footer {
    margin: 0.5rem;
    border: 2px #9f8f4d solid;
    background-color: #bacbd6;
    box-shadow: 0 0 0.5rem rgb(83 78 76 / 50%);
}

/* HEADER */
header {
    grid-column: 1/13;
    grid-row: 1/2;
    display: flex;
    align-items: center;  
    
}
.contenido_header {
     width: 80%;
   
}
.logo {
    width: 20%;
}

.imagen_logo{
    width: 150px;
    height: 150px;
  }

  /* FOOTER */
footer {
    padding: 20px;
    grid-column: 1/13;
    grid-row: 8/9;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TITULOS */
a, h1, h2 {
    color: #254e68;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 0rem;  
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
/* NAVEGADOR */
.navegador {
    display: grid;
    margin: 0.5rem;
    background-color: #bacbd6;
    border: 2px #9f8f4d solid;
    grid-column: 1/13;
    grid-row: 2/3;
    color: #254e68;
}

.navegador_items {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    border-radius: 5px;
}

.Home, .Gallery_Browse,.Lastest_Works,.Contact, .Art_workshops{
    background-color: #efefef;
    border: 1.5px #aea688 solid;
    border-radius: 5px;
    font-size: 25px; 
    padding: 0.2rem; 
    font-family: serif;  
}

#menu, #menu-check {
    display: none;
}

/* MENU HAMBURGUESA */

@media only screen and (max-width: 640px) {

    .navegador_items {
        display: flex;
        place-content: space-between;

    }

    #menu-check:not(:checked) ~ nav {
        display: none;
    }
    #menu-check:checked ~ nav {
        display: block;
    }
    #menu {
        display: block;
        color: var(--color-1);
        background-color: var(--bgcolor-1);
        font-size: 1.2em;
        font-weight: bold;
        border: 3px solid var(--color-1);
        border-radius: 0.3em;
        right: 0.5em;
        top: 0.5em;
        z-index: 9999;
    }

    #menu:hoover {
       color:var(--text-color-3);
       background: var(--color-1);

    }

    #menu-cerrar {
        display: none;
        
     }

    #menu-check:checked ~ label #menu-abrir {
        display: none;
    }
    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }

    header nav.navegador{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: var(--bgcolor-2);
        padding-top: 0.5em;
        padding-right: 1.5em;
        opacity: 0.8;
        color: var(--text-color-3); 
    }

    .body{ 
    display: inline-block;
    width: 95%;
    }
}


/*Formato links*/
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: bold;
}

.contactQoute{
    background-color: whitesmoke;
    color: blue;
    border: 1.5px #aea688 solid;
    border-radius: 5px;
    font-size: 25px; 
    padding: 0.5rem;   
}

/*PRINCIPAL */
.principal {
    margin: 0rem 0.5rem;
    border: 2px #9f8f4d solid;
    display: grid;
    grid-column: 1/13;
    grid-row: 3/8;
}

 .contendor_principal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row-reverse;
    background-color: #efefef;
}    

.principal_descripción {
    margin: 0.5rem;
    width: 50%;
    height: auto;
    font-size: 1.5rem;
    background-color: #efefef;
}

.principal_imagen {
    object-fit: contain;
    border: 1px solid;
    width: 50%;
    height: auto;
    background-repeat: no-repeat;
    background-size:cover;
}


/* STREET ART */
h4 {
    color: #254e68;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 0rem; 
}
.lista {
    margin: 0rem 1.5rem;
    text-align: left;
    font-size: 1rem;
}
#street_art_carrousel{
    justify-content: left;
}

/* CONTACTO Y UBICACION*/
.principal_formulario {
    margin: 0rem 0.5rem;
    padding: 1rem;
    border: 2px #9f8f4d solid;
    grid-column: 1/13;
    grid-row: 3/8;
}

.H1_contact,.H2_contacto {
    font-family: serif;
    color: #254e68;
}
.H1_contacto {
    font-size: 2rem;
    border: 2px #9f8f4d solid;
    border-radius: 5px;
    display: inline-flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    background-color: #bacbd6;
}

.H2_contacto {
    font-size: 1.5rem;  
    margin-top: 0.5rem;
}

.H3_contacto {
    font-size: 2rem;
}

#location_info {
    width: 50%;
    text-align: right;
}

#map {
    margin-left: 0.5rem;
    width: 70%;
}

.location {
    display: flex; 
}


/* segundo punto de corte menor a 640px */
@media screen and (max-width: 640px) {
    .contendor_principal{
        flex-direction:column;
    }  
    .principal_imagen {
        
        width: 97%;
    }
    .principal_descripción {
        width: 97%;
    }
    .navegador_items {
        flex-flow: column;
    }
    .body {
        grid-template-rows: 200px 200px repeat(6, 1fr);
    }
    .location{
        flex-direction:column;
        align-items: center;
    }  
    #location_info {
        width: 90%;
        text-align: center;
    }
    #map{ 
        width: 90%;
        display: flex;
        align-items: center;
    }
}

/* Tercer punto de corte mayor a 1280px */
@media screen and (min-width: 1280px) {
    .body {
      width: 1280px;
      margin: auto;
    }
  } 

/*CAROUSEL*/
#principal_carrousel {
    justify-content: center;
}

.mySlides1, .mySlides2 {
    display: none;   
    animation-name: fade;
    animation-duration: 1.5s;

 }


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.img_carrousel {
    vertical-align: middle;
    height: 60vh;
    width: 70vw;
    
    object-fit: contain;
 }


 #h4_carrousel {
    font-size: 1.5em;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  background-color: lightgray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  /*border-radius: 5 px 5 px;*/
  border-radius: 7px 7px;
  user-select: none;
}
.prev {
  top: 50%;
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /*border-radius: 3px 0 0 3px;*/
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #bacbd6;
  color: black;
}

/*  Hover image */

  .image {
    position: relative;
    width: 400px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: maroon;
}

.image__overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 0.9;
}

.image__overlay:hover>* {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}
